<h3>This is the new ad component.</h3>

<h3>New Post</h3>
<div class="row">
  <form class="" action="index.html" method="post">
    <div>
      <label for="title">Title</label>
      <br>
      <input type="text" name="title" value="" ng-model="$ctrl.newAd.title">
    </div>
    <div>
      <label for="description">Description</label>
      <br>
      <input type="text" name="description" value="" ng-model="$ctrl.newAd.description">
    </div>
    <div>
      <label for="price">Price</label>
      <br>
      <input type="text" name="price" value="" ng-model="$ctrl.newAd.price">
    </div>
    <div>
      <label for="item_image">Item Image Link</label>
      <br>
      <input type="text" name="item_image" value="" ng-model="$ctrl.newAd.item_image">
    </div>
    <div class="">
      <button type="button" name="button" ng-click="$ctrl.createAd()">Submit Ad</button>
    </div>
  </form>
</div>
