<!-- <h3>Is this thing on?</h3> -->
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Galvanize Classifieds</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"></div>
    </div>
</nav>

<!-- Button to post an ad -->
<main class="container">
    <div class="pull-left">
        <p><a class="btn btn-info" ng-click="$ctrl.toggleForm()">New Ad</a></p>
    </div>

<!-- Filter -->
    <ul class="nav nav-pills">
        <li role="presentation" class="active">
            <input type="search" class="form-control input-sm search-form" placeholder="Filter" ng-model="search">
        </li>

<!-- Sort by Posted Date or Price -->
        <li class="dropdown" ng-init="sort='-price'; sortName='Price'">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sort by {{sortName}}<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a ng-click="sort='postedDate'; sortName='Posted-Date'">Posted Date</a></li>
                <li><a ng-click="sort='price'; sortName='Price'">Price</a></li>
            </ul>
        </li>
    </ul>

<!-- Create post -->
<div class="row" ng-if="$ctrl.formActive">
<div class="col-md-8">
  <form name="form" novalidate ng-submit="$ctrl.createAd()">
    <div ng-class="{'form-group': true, 'error': form.body.$invalid && form.body.$touched}">

    </div>
  </form>

</div>

</div>
</main>
